In [2]:
import pandas as pd

In [10]:
Abalone = pd.read_csv('https://nocoding-ai.s3.ap-northeast-2.amazonaws.com/test/Abalone_DataSet.csv/Abalone_DataSet.csv')
Abalone

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,2,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [23]:
movie_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.item'
movie_cols = ['movie_id', 'title']
movies = pd.read_csv(movie_url, encoding='ISO-8859-1', sep='|', header=None, names=movie_cols, usecols=[0, 1])
movies

      movie_id                                      title
0            1                           Toy Story (1995)
1            2                           GoldenEye (1995)
2            3                          Four Rooms (1995)
3            4                          Get Shorty (1995)
4            5                             Copycat (1995)
...        ...                                        ...
1677      1678                          Mat' i syn (1997)
1678      1679                           B. Monkey (1998)
1679      1680                       Sliding Doors (1998)
1680      1681                        You So Crazy (1994)
1681      1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [22]:
rating_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.data'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_url, sep='\t', header=None, names=rating_cols)
ratings

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [24]:
library_path = 'datas/library.csv'
library_cols = ["library"]
library = pd.read_csv(library_path, encoding='cp949')
library

,도서관명,시도명,시군구명,도서관유형,휴관일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,...,대출가능일수,소재지도로명주소,운영기관명,도서관전화번호,부지면적,건물면적,홈페이지주소,위도,경도,데이터기준일자
0,옥정호수도서관,경기도,양주시,공공도서관,월+법정공휴일,09:00,22:00,09:00,18:00,00:00,...,14,경기도 양주시 옥정동로7길 110,경기도 양주시청,031-8082-7470,22510.0,4938.00,https://www.libyj.go.kr/ojlake/index.do,37.823000,127.094931,2023-02-15
1,장흥작은도서관,경기도,양주시,공공도서관,금+법정공휴일,09:00,22:00,09:00,22:00,00:00,...,14,경기도 양주시 장흥면 호국로 470,경기도 양주시청,031-844-0987,1353.0,398.00,https://www.libyj.go.kr/jhlib/index.do,37.713757,126.969372,2023-02-15
2,양주희망도서관,경기도,양주시,공공도서관,월+법정공휴일,09:00,22:00,09:00,22:00,00:00,...,14,경기도 양주시 삼숭로38번길 78-47,경기도 양주시청,031-8082-7460,3388.0,2299.00,https://www.libyj.go.kr/hmlib/index.do,37.795765,127.107258,2023-02-15
3,덕정도서관,경기도,양주시,공공도서관,월+법정공휴일,09:00,22:00,09:00,22:00,00:00,...,14,경기도 양주시 화합로1371번길 11,경기도 양주시청,031-8082-7420,949.0,1826.00,https://www.libyj.go.kr/djlib/index.do,37.842880,127.063191,2023-02-15
4,고읍도서관,경기도,양주시,공공도서관,금+법정공휴일,09:00,22:00,09:00,22:00,00:00,...,14,경기도 양주시 고읍남로 207,경기도 양주시청,031-8082-7440,1650.0,1337.00,https://www.libyj.go.kr/gulib/index.do,37.792050,127.084460,2023-02-15
5,꿈나무도서관,경기도,양주시,공공도서관,금+법정공휴일,09:00,22:00,09:00,22:00,00:00,...,14,경기도 양주시 백석읍 꿈나무로 199,경기도 양주시청,031-8082-7401,6073.0,2606.00,https://www.libyj.go.kr/childlib/index.do,37.792390,126.987275,2023-02-15
6,남면도서관,경기도,양주시,공공도서관,월+법정공휴일,09:00,18:00,09:00,18:00,00:00,...,14,경기도 양주시 남면 개나리17길 24,경기도 양주시청,031-8082-7430,2252.0,789.00,https://www.libyj.go.kr/nmlib/index.do,37.898148,126.975880,2023-02-15
7,덕계도서관,경기도,양주시,공공도서관,금+법정공휴일,09:00,22:00,09:00,18:00,00:00,...,14,경기도 양주시 평화로1475번길 39,경기도 양주시청,031-8082-7450,1499.0,1370.00,https://www.libyj.go.kr/dklib/index.do,37.821659,127.046729,2023-02-15
8,광적도서관,경기도,양주시,공공도서관,월+법정공휴일,09:00,22:00,09:00,18:00,00:00,...,14,경기도 양주시 광적면 광적로42번길 5,경기도 양주시청,031-8082-7480,1021.9,957.64,https://www.libyj.go.kr/gjlib/index.do,37.823117,126.982877,2023-02-15
9,고암작은도서관,경기도,양주시,공공도서관,월+법정공휴일,09:00,18:00,09:00,18:00,00:00,...,14,경기도 양주시 고암길 251-1 1층,경기도 양주시청,031-8082-7488,13887.1,236.00,https://www.libyj.go.kr/goamlib/index.do,37.834524,127.072931,2023-02-15