In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import folium
from folium.features import DivIcon
import json
import matplotlib.pyplot as plt
from matplotlib import rc

In [2]:
df2 = pd.read_excel("C:/python/datas/아파트(매매)_실거래가.xlsx")
df2

C:\Users\Playdata\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,서울특별시 중랑구 신내동,657,0657,0000,신내9진흥,33.18,202112,23,"42,400",15,1996,신내로 127,NaN,중개거래,서울 중랑구
1189,서울특별시 중랑구 중화동,454,0454,0000,동양엔파트2차,84.87,202112,4,"96,000",7,2013,중랑천로14길 34,NaN,중개거래,서울 중랑구
1190,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.82,202112,4,"77,500",10,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1191,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.77,202112,31,"69,500",5,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1192,서울특별시 중랑구 중화동,19-3,0019,0003,한솔e(B동),82.65,202112,13,"32,500",3,2004,봉화산로27길 30,NaN,직거래,-

In [3]:
df2.drop(df2.index[0:16], inplace=True)
df2

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3,NaN,중개거래,서울 강남구
17,서울특별시 강남구 개포동,138,0138,0000,디에이치아너힐즈,59.7479,202112,24,"235,000",15,2019,삼성로 11,NaN,중개거래,서울 강남구
18,서울특별시 강남구 개포동,1280,1280,0000,래미안블레스티지,84.94,202112,31,"316,000",16,2019,선릉로 8,NaN,중개거래,서울 강남구
19,서울특별시 강남구 개포동,12,0012,0000,삼익대청아파트,39.53,202112,11,"150,000",4,1992,개포로109길 21,NaN,중개거래,서울 강남구
20,서울특별시 강남구 개포동,653,0653,0000,현대1차101동~106동,177.19,202112,9,"355,000",6,1984,개포로 303,NaN,중개거래,"경기 안양만안구, 서울 강남구"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,서울특별시 중랑구 신내동,657,0657,0000,신내9진흥,33.18,202112,23,"42,400",15,1996,신내로 127,NaN,중개거래,서울 중랑구
1189,서울특별시 중랑구 중화동,454,0454,0000,동양엔파트2차,84.87,202112,4,"96,000",7,2013,중랑천로14길 34,NaN,중개거래,서울 중랑구
1190,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.82,202112,4,"77,500",10,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1191,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.77,202112,31,"69,500",5,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1192,서울특별시 중랑구 중화동,19-3,0019,0003,한솔e(B동),82.65,202112,13,"32,500",3,2004,봉화산로27길 30,NaN,직거래,-

In [4]:
df2.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 8': '거래금액(만원)',
                     'Unnamed: 5' : '전용면적(㎡)'}, inplace=True)

del df2['Unnamed: 1']
del df2['Unnamed: 2']
del df2['Unnamed: 3']
del df2['Unnamed: 4']
del df2['Unnamed: 6']
del df2['Unnamed: 7']
del df2['Unnamed: 9']
del df2['Unnamed: 10']
del df2['Unnamed: 11']
del df2['Unnamed: 12']
del df2['Unnamed: 13']
del df2['Unnamed: 14']
df2

                시군구  전용면적(㎡)        거래금액(만원)
16    서울특별시 강남구 개포동    79.97         215,000
17    서울특별시 강남구 개포동  59.7479         235,000
18    서울특별시 강남구 개포동    84.94         316,000
19    서울특별시 강남구 개포동    39.53         150,000
20    서울특별시 강남구 개포동   177.19         355,000
...             ...      ...             ...
1188  서울특별시 중랑구 신내동    33.18          42,400
1189  서울특별시 중랑구 중화동    84.87          96,000
1190  서울특별시 중랑구 중화동    84.82          77,500
1191  서울특별시 중랑구 중화동    84.77          69,500
1192  서울특별시 중랑구 중화동    82.65          32,500

[1177 rows x 3 columns]

In [5]:
df2.to_csv("C:/python/datas/아파트 평당가.csv", index = False)

In [6]:
df2 = pd.read_csv("C:/python/datas/아파트 평당가.csv")

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       1177 non-null   object
 1   전용면적(㎡)   1177 non-null   float64
 2   거래금액(만원)  1177 non-null   object
dtypes: float64(1), object(2)
memory usage: 27.7+ KB

In [8]:
df2['전용면적(㎡)'].astype('float')

0        79.9700
1        59.7479
2        84.9400
3        39.5300
4       177.1900
          ...
1172     33.1800
1173     84.8700
1174     84.8200
1175     84.7700
1176     82.6500
Name: 전용면적(㎡), Length: 1177, dtype: float64

In [9]:
df2['거래금액(만원)'] = df2['거래금액(만원)'].str.strip().replace("'", '')

In [10]:
df2['거래금액(만원)'] = df2['거래금액(만원)'].str.replace(",", '').astype('f')

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       1177 non-null   object
 1   전용면적(㎡)   1177 non-null   float64
 2   거래금액(만원)  1177 non-null   float32
dtypes: float32(1), float64(1), object(1)
memory usage: 23.1+ KB

In [12]:
# df2.insert(3, '전용면적 당 거래금액(㎡)',df2['거래금액(만원)']/df2['전용면적(㎡)'])
df2['전용면적 당 거래금액(㎡)'] = round((df2['거래금액(만원)']) / (df2['전용면적(㎡)']),2)

In [13]:
df2

                시군구   전용면적(㎡)  거래금액(만원)  전용면적 당 거래금액(㎡)
0     서울특별시 강남구 개포동   79.9700  215000.0         2688.51
1     서울특별시 강남구 개포동   59.7479  235000.0         3933.19
2     서울특별시 강남구 개포동   84.9400  316000.0         3720.27
3     서울특별시 강남구 개포동   39.5300  150000.0         3794.59
4     서울특별시 강남구 개포동  177.1900  355000.0         2003.50
...             ...       ...       ...             ...
1172  서울특별시 중랑구 신내동   33.1800   42400.0         1277.88
1173  서울특별시 중랑구 중화동   84.8700   96000.0         1131.14
1174  서울특별시 중랑구 중화동   84.8200   77500.0          913.70
1175  서울특별시 중랑구 중화동   84.7700   69500.0          819.87
1176  서울특별시 중랑구 중화동   82.6500   32500.0          393.22

[1177 rows x 4 columns]

In [14]:
df2.시군구 = df2.시군구.str.split().str[1]
df2

      시군구   전용면적(㎡)  거래금액(만원)  전용면적 당 거래금액(㎡)
0     강남구   79.9700  215000.0         2688.51
1     강남구   59.7479  235000.0         3933.19
2     강남구   84.9400  316000.0         3720.27
3     강남구   39.5300  150000.0         3794.59
4     강남구  177.1900  355000.0         2003.50
...   ...       ...       ...             ...
1172  중랑구   33.1800   42400.0         1277.88
1173  중랑구   84.8700   96000.0         1131.14
1174  중랑구   84.8200   77500.0          913.70
1175  중랑구   84.7700   69500.0          819.87
1176  중랑구   82.6500   32500.0          393.22

[1177 rows x 4 columns]

In [15]:
df3 = round(df2.groupby('시군구').mean(), 2)
df3

      전용면적(㎡)       거래금액(만원)  전용면적 당 거래금액(㎡)
시군구
강남구     91.58  240087.687500         2551.55
강동구     66.00   98281.617188         1431.21
강북구     66.06   50653.851562          774.69
강서구     68.01   75942.859375         1107.07
관악구     59.45   64072.550781         1094.12
광진구     72.51  119044.453125         1596.36
구로구     50.29   50109.019531          910.77
금천구     63.94   54725.000000          898.29
노원구     63.56   72394.921875         1172.27
도봉구     63.77   63753.949219         1015.76
동대문구    53.26   63791.300781         1166.30
동작구     74.85  105008.750000         1380.28
마포구     76.87  121646.093750         1565.18
서대문구    71.12   87746.046875         1240.78
서초구     88.71  195370.906250         2070.76
성동구     73.95  146516.671875         1972.48
성북구     66.47   75606.640625         1143.16
송파구     74.04  136440.296875         1854.57
양천구     83.61  118074.507812         1421.96
영등포구    63.02   93438.796875         1334.11
용산구     90.83  236308.000000         2272.20
은평구     65.03   71924.156250         1174.67
종로구     60.78   82650.000000         1390.10
중구      60.78   84205.546875         1364.65
중랑구     65.83   63194.558594          979.20

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   전용면적(㎡)         25 non-null     float64
 1   거래금액(만원)        25 non-null     float32
 2   전용면적 당 거래금액(㎡)  25 non-null     float64
dtypes: float32(1), float64(2)
memory usage: 700.0+ bytes

In [17]:
df3['거래금액(만원)'] = df3['거래금액(만원)'].astype('float64')
df3

      전용면적(㎡)       거래금액(만원)  전용면적 당 거래금액(㎡)
시군구
강남구     91.58  240087.687500         2551.55
강동구     66.00   98281.617188         1431.21
강북구     66.06   50653.851562          774.69
강서구     68.01   75942.859375         1107.07
관악구     59.45   64072.550781         1094.12
광진구     72.51  119044.453125         1596.36
구로구     50.29   50109.019531          910.77
금천구     63.94   54725.000000          898.29
노원구     63.56   72394.921875         1172.27
도봉구     63.77   63753.949219         1015.76
동대문구    53.26   63791.300781         1166.30
동작구     74.85  105008.750000         1380.28
마포구     76.87  121646.093750         1565.18
서대문구    71.12   87746.046875         1240.78
서초구     88.71  195370.906250         2070.76
성동구     73.95  146516.671875         1972.48
성북구     66.47   75606.640625         1143.16
송파구     74.04  136440.296875         1854.57
양천구     83.61  118074.507812         1421.96
영등포구    63.02   93438.796875         1334.11
용산구     90.83  236308.000000         2272.20
은평구     65.03   71924.156250         1174.67
종로구     60.78   82650.000000         1390.10
중구      60.78   84205.546875         1364.65
중랑구     65.83   63194.558594          979.20

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   전용면적(㎡)         25 non-null     float64
 1   거래금액(만원)        25 non-null     float64
 2   전용면적 당 거래금액(㎡)  25 non-null     float64
dtypes: float64(3)
memory usage: 800.0+ bytes

In [19]:
df3 = round(df3, 2)
df3

      전용면적(㎡)   거래금액(만원)  전용면적 당 거래금액(㎡)
시군구
강남구     91.58  240087.69         2551.55
강동구     66.00   98281.62         1431.21
강북구     66.06   50653.85          774.69
강서구     68.01   75942.86         1107.07
관악구     59.45   64072.55         1094.12
광진구     72.51  119044.45         1596.36
구로구     50.29   50109.02          910.77
금천구     63.94   54725.00          898.29
노원구     63.56   72394.92         1172.27
도봉구     63.77   63753.95         1015.76
동대문구    53.26   63791.30         1166.30
동작구     74.85  105008.75         1380.28
마포구     76.87  121646.09         1565.18
서대문구    71.12   87746.05         1240.78
서초구     88.71  195370.91         2070.76
성동구     73.95  146516.67         1972.48
성북구     66.47   75606.64         1143.16
송파구     74.04  136440.30         1854.57
양천구     83.61  118074.51         1421.96
영등포구    63.02   93438.80         1334.11
용산구     90.83  236308.00         2272.20
은평구     65.03   71924.16         1174.67
종로구     60.78   82650.00         1390.10
중구      60.78   84205.55         1364.65
중랑구     65.83   63194.56          979.20

In [25]:
seoul_geojson = "https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json"

m = folium.Map(location = [37.57, 126.99], zoom_start = 11)
folium.Choropleth(geo_data = seoul_geojson,
                  data=df3[["시군구", "전용면적 당 거래금액(㎡)"]],
                  columns=["시군구", "전용면적 당 거래금액(㎡)"],
                  key_on="feature.properties.name",
                  fill_color = "PuRd",
                  fill_opacity = 0.4,
                  line_opacity = 1
).add_to(m)

m

KeyError: "['시군구'] not in index"