In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import folium
import json
import matplotlib.pyplot as plt
from matplotlib import rc

In [7]:
df = pd.read_csv('C:/python/datas/seoul_cctv.csv')
df.head()

    구분  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
0  종로구    935  1,066  1,225  1,322  1,338  1,526   1573   1812
1   중구    363    565    838  1,174  1,234  1,482   1911   2026
2  용산구  1,398  1,689  1,831  1,888  1,986  2,131   2321   2531
3  성동구  1,089  1,328  2,103  2,390  2,697  3,162   3519   3627
4  광진구    638    657  1,112  1,586  2,233  2,375   3111   3370

In [10]:
df = pd.read_csv('C:/python/datas/crime_datas')
df.head()

,Unnamed: 0,구별,발생 합계,검거 합계,살인 발생,강도 발생,"강간, 강제추행 발생",절도 발생,폭력 발생,"강간, 강제추행 검거율",강도검거율,살인검거율,절도검거율,폭력검거율,검거율 합계,인구수
0,0,강남구,6146.0,4397.0,12.0,25.0,578.0,2372.0,3159.0,78.55,92.00,91.67,48.90,87.02,71.542467,581760
1,1,강동구,3458.0,2462.0,3.0,6.0,124.0,1612.0,1713.0,83.06,100.00,100.00,55.15,85.29,71.197224,463321
2,2,강북구,2301.0,1912.0,4.0,1.0,136.0,777.0,1383.0,84.56,100.00,100.00,69.11,90.74,83.094307,334426
3,3,강서구,3896.0,3044.0,9.0,3.0,246.0,1540.0,2098.0,76.42,100.00,77.78,59.81,91.75,78.131417,595691
4,4,관악구,4444.0,3134.0,8.0,7.0,321.0,1860.0,2248.0,83.80,85.71,50.00,49.95,85.68,70.522052,529031